:root {
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 99vw;
	margin: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	background-color: black;
	color: white;
}

#tempContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 5rem;
	height: 5rem;
	border: solid black 2px;
	border-radius: 50%;
}

#temp {
	margin: 0px;
}

header {
	display: flex;
	gap: 50px;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.659);
}

#tempUnitBtn {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	appearance: none;
	border: solid black 2px;
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fade-out {
	animation: fadeOut 1s ease forwards;
}

.fade-in {
	animation: fadeIn 1s ease forwards;
}
